
.father{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto 20px auto;
}
.boxSelected {
    cursor: pointer;
    max-width: 98px;
    width: 50%;
    height: auto;
    min-height: 31px;
    border-radius: 2px;
    border: solid 1px #1797ff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
}

.boxUnselected {
    cursor: pointer;
    max-width: 98px;
    width: 50%;
    height: auto;
    min-height: 31px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
}
