.Header  {
  width: 100%;
  height: 114px;
  margin: 0 0 70px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
  justify-content: space-between;
  position: relative;
}
.ContainerImg{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 80%;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 20px;
    flex-direction: 'row';
}
.HACKER-NEWS {
    width: 208px;
    height: 28px;
    margin-top: 43px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
  }