.gridLayout {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}

@media (max-width:800px){
    .gridLayout{
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}
