.Container {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 80%;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 20px;
    flex-direction: 'row';
}
.SelectBox {
    width: 240px;
    height: 32px;
    margin: 60px 0px 0px 0px;
    padding: 0px 12px 0px 12px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.OptionBox {
    background-color: #fff;
    width: 265px;
    height: 140px;
    position: absolute;
    left: -1px;
    top: 33px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #dad8d8;
    z-index: 200;
    visibility:hidden;
}
.textSelect{
    bottom: 1px;    
    position: absolute;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
}
.Option:hover {
    background-color:#eaeaea;
}
.Option {
    background-color: #fff;
    padding-bottom: 0px;
}
.optionSpan{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
    padding-bottom: 10px;
    padding-top: 20px;
}
.Img {
    width: 24px;
    height: 24px;
    margin: 10px 20px  0;
}
/* */
